@font-face {
	font-family: FuturaNormal;
	src: url(fonts/futura-normal.woff) format('woff');
}

@font-face {
	font-family: HelveticaNeueRoman;
	src: url(fonts/helveticaneue-cyr-roman.woff) format('woff');
}

@font-face {
	font-family: HelveticaNeueLight;
	src: url(fonts/helveticaneue-cyr-light.woff) format('woff');
}

@font-face {
	font-family: HelveticaNeueMedium;
	src: url(fonts/helveticaneue-medium.woff) format('woff');
}

@font-face {
	font-family: HelveticaNeueBold;
	src: url(fonts/helveticaneue-bold.woff) format('woff');
}

@font-face {
	font-family: ProximaNovaLight;
	src: url(fonts/proxima-nova-light.woff) format('woff');
}

@font-face {
	font-family: ProximaNovaSemibold;
	src: url(fonts/proxima-nova-semibold.otf);
}

body {
	margin: 0;
	transition: .4s;
}

.dark {
	display: none;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0;
	transition: .4s;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

hr {
	border: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {	text-decoration: none;}

button {
	padding: 0;
	border: 0;
	cursor: pointer;
	outline: none;
	background: 0;
}

input {
	outline: 0;
	border: 0;
	background: 0;
}

input[type="submit"] { cursor: pointer;}

.bttn {
	display: block;
	width: 228px;
	height: 48px;
	font: 12px/48px HelveticaNeueRoman;
	text-transform: uppercase;
	text-align: center;
	transition: .4s;
}

.black.bttn {
	border: 1px solid #000;
	color: #000;
}

.black.bttn:hover {
	background: #000;
	color: #fff;
}

.white.bttn {
	border: 1px solid #fff;
	color: #fff;
}

.white.bttn:hover {
	background: #fff;
	color: #000;
}

header { transition: .4s;}
header .menu { height: 67px;}

header.main {
	height: 85.65vh;
	background: url(images/header.jpg) no-repeat top / cover;
	padding: 3.24vh 0 0 0;
}

.black nav a { color: #000;}
.black .logo { background-image: url(images/logo-black.png);}

nav > ul {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

nav .menu {
	width: 589px;
	margin: 0 0 0 48px;
}

nav .icons {
	width: 156px;
    float: right;
    position: relative;
    top: 11px;
}

.black .icons { top: 15px;}

nav > ul > li:nth-child(n+1):nth-child(-n+4) a {
	text-transform: uppercase;
}

nav a {
	font: 15px/26px FuturaNormal;
	color: #fff;
	cursor: pointer;
}

nav .logo {
	display: inline-block;
	width: 70px;
	height: 20px;
	background: url(images/logo.png) no-repeat center / cover;
	position: relative;
	top: 3px;
}

nav > ul > li {
	display: inline-block;
	position: relative;
}

.drop-menu { padding: 15px;}

.drop-menu > a::after {
	content: "";
	display: inline-block;
	margin: 0 0 1px 12px;
	width: 6px;
	height: 6px;
	background: url(images/triangle.svg) no-repeat center;
}

.black .drop-menu > a::after { background-image: url(images/triangle-black.svg);}

.drop-menu ul {
	width: 233px;
	padding: 15px;
	background: #1e1e1e;
	visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0px;
}

.drop-menu li {	padding: 5px 0;}

.drop-menu li a {
	font: 12px/36px HelveticaNeueRoman;
	color: #c8c8c8;
}

.drop-menu a:hover { color: #fff;}
.drop-menu:hover { background: #1e1e1e;}
.drop-menu:hover > a { color: #c8c8c8;}

.drop-menu:hover ul {
	visibility: visible;
    opacity: 1;
    z-index: 1;
}

nav .search form {
	position: absolute;
	left: 0px;
	top: -7px;
	opacity: 0;
	z-index: -1;
	transition: .4s;
	display: none;
}

nav input[type="search"] {
	-webkit-appearance: none;
	background: transparent;
	width: 188px;
	height: 25px;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, .5);
	padding: 0 4px;
	font: 14px/36px ProximaNovaLight;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background: url(images/search-close.svg);
}

.black nav input[type="search"] {
	border-bottom: 1px solid rgba(201, 201, 201, .5);
	color: rgba(201, 201, 201, .5);
}

nav .icons button,
nav .wish a,
nav .cart a {
	display: block;
	width: 13px;
	height: 13px;
}

nav .search button { background: url(images/search.svg) no-repeat center;}
nav .account button { background: url(images/account.svg) no-repeat center;}
nav .wish a { background: url(images/wish.svg) no-repeat center;}
nav .cart a { background: url(images/cart.svg) no-repeat center;}

.black .search button { background-image: url(images/search-black.svg);}
.black .account button { background-image: url(images/account-black.svg);}
.black .wish a { background-image: url(images/wish-black.svg);}
.black .cart a { background-image: url(images/cart-black.svg);}

nav .language {
	text-decoration: underline;
	font: 16px/26px HelveticaNeueRoman;
	text-align: center;
}

nav .search input[type="submit"] { display: none;}

.sign {
	width: 370px;
	height: 425px;
	background: #fff;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: -70%;
	left: 50%;
	margin: -247.5px 0 0 -160px;
	padding: 45px 0 25px 0;
	transition: .4s;
}

.sign > div {
	width: 100%;
	position: absolute;
	transition: .4s;
}

.sign .in {
	left: 0px;
}

.close {
	width: 26px;
	height: 26px;
	background: url(images/close.svg) no-repeat center;
	position: absolute;
	top: 10px;
	right: 10px;
}

.sign h3 {
	text-align: center;
	font: 24px/26px HelveticaNeueRoman;
	margin: 0 0 35px 0;
}

.sign form {
	padding: 0 30px;
	position: relative;
}

.sign form button {
	position: absolute;
	top: 72px;
    right: 50px;
    color: #aeaeae;
}

.sign input:not([type="submit"]) {
	width: 100%;
	height: 46px;
	border: 1px solid #d9d9d9;
	padding: 0 20px;
	font: 16px/26px HelveticaNeueRoman;
	color: #393939;
	box-sizing: border-box;
}

.sign .in input[type="password"] {
	margin: 10px 0 21px 0;
}

.sign input[type="submit"] {
	width: 168px;
	height: 54px;
	margin: 0 auto;
	font: 14px/26px HelveticaNeueLight;
	text-transform: none;
}

.sign .with {
	display: block;
	font: 14px/26px HelveticaNeueLight;
	color: #adadad;
}

.sign .in .with { margin: 20px auto 25px auto;}

.sign .with::before,
.sign .with::after {
	content: "";
	display: inline-block;
	height: 1px;
	background: #e6e6e6;
	position: relative;
	top: -3px;
}

.sign .in .with::before,
.sign .in .with::after { width: 128px;}

.sign .with::before { margin: 0 23px 0 0;}
.sign .with::after { margin: 0 0 0 23px;}

.social {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.sign .social {	width: 252px;}
.social button {
	border-radius: 50%;
	transition: .4s;
}

.sign .social button {
	width: 40px;
	height: 40px;
}

.social button:hover { background-color: #dcdcdc;}

.social .in { background: #393939 url(images/in.svg) no-repeat center / 35% 35%;}
.social .fb { background: #393939 url(images/fb.svg) no-repeat center / 35% 35%;}
.social .vk { background: #393939 url(images/vk.svg) no-repeat center / 35% 35%;}
.social .lj { background: #393939 url(images/lj.svg) no-repeat center / 35% 35%;}
.social .pi { background: #393939 url(images/pi.svg) no-repeat center / 35% 35%;}

.social .in:hover { background-image: url(images/in-black.svg);}
.social .fb:hover { background-image: url(images/fb-black.svg);}
.social .vk:hover { background-image: url(images/vk-black.svg);}
.social .lj:hover { background-image: url(images/lj-black.svg);}
.social .pi:hover { background-image: url(images/pi-black.svg);}

.sign hr {
	background: #e6e6e6;
	height: 1px;
	margin: 33px 0 25px 0;
}

 .in > button {
 	text-decoration: underline;
 	font: 14px/14px HelveticaNeueLight;
 	display: block;
 	margin: 0 auto;
 }

 .sign .up {
	position: absolute;
    top: 45px;
    left: 100%;
 }

 .sign .up input {
	margin: 0 0 10px 0;
}

.sign .up input[type="submit"] {
	margin: 5px auto;
}

.sign .up .with { margin: 15px 0 5px 0;}

.sign .up .with::before,
.sign .up .with::after { width: 121px;}

h1 { 
	font: 60px/70px FuturaNormal;
	margin: 25vh 0 0 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

header > a {
	margin: 7vh auto 0 auto;
}

.breadcrumbs {
	height: 69px;
	margin: 0 0 40px 0;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

.breadcrumbs * {
	font: 14px/69px HelveticaNeueLight;
	color: #353535;
}

.indicators {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 36px;
	margin: 13vh auto 0 auto;
}

.indicators button {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(255,255,255,.2);
	cursor: pointer;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, .35);
	transition: .4s;
}

.indicators .active {
	width: 15px;
	height: 15px;
	background: #fff;
}

.filter {
	width: 215px;
	margin: 0 85px 0 0;
	float: left;
}

.filter input { display: none;}

.filter label {
	font: 12px/26px HelveticaNeueLight;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 20px 0;
	position: relative;
}

#novelties + label::before,
#sale + label::before {
	content: "";
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 0 20px 0 0;
	border: 1px solid #000;
}

#novelties + label::after,
#sale + label::after {
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #000;
	position: absolute;
	left: 2px;
	top: 8px;
	opacity: 0;
	transition: .4s;
}

#novelties:checked + label::after,
#sale:checked + label::after {
	opacity: 1;
}

.filter .accordion label::before {
	content: "+";
	display: inline-block;
	margin: 0 22px 0 0;
	transform: rotate(0deg);
	transition: .4s;
	font-size: 20px;
}

.filter button {
	font: 12px/26px HelveticaNeueLight;
	margin: 4px 0;
}

.accordion > input:checked ~ label::before { transform: rotate(-45deg);}

.accordion div {
    height: 0;
    transition: .4s;
    overflow: hidden;
}

.accordion > .collection:checked ~ div {
	height: 162px;
	overflow: auto;
}

.filter div::-webkit-scrollbar-track { background: #dadada;}

.filter div::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: #000;
}

.filter div::-webkit-scrollbar{ width: 3px;}

.catalog .head { margin: 0 0 30px 0;}

.catalog h1 {
	font: 24px/26px HelveticaNeueMedium;
	color: #000;
	margin: 0;
	display: inline-block;
}

.catalog .found {
	display: inline-block;
	float: right;
	font: 12px/26px HelveticaNeueLight;
}

.choosed {
	float: left;
	width: 870px;
	margin: 0 0 40px 0;
}

.choosed .item {
	display: inline-block;
	font: 12px/48px HelveticaNeueBold;
	background: #9e9e9e;
	color: #fff;
	text-transform: uppercase;
	padding: 0 15px;
	margin: 0 11px 0 0;
	transition: .4s;
	opacity: 1;
}

.choosed .item button {
	background: 0;
	color: #fff;
	margin: 0 0 0 10px;
	font: 18px/26px HelveticaNeueBold;
}

.products {
	width: 870px;
	float: left;
}

.product {
	width: 270px;
	float: left;
	position: relative;
	margin: 0 30px 30px 0;
}

.product:nth-child(3n) { margin-right: 0;}

.product * {
	text-align: center;
	font: 14px/26px HelveticaNeueLight;
	margin: 0;
}

.product .img {
	display: block;
	height: 400px;
	overflow: hidden;
}

.product .sizes {
	position: relative;
	height: 50px;
	background: rgba(0,0,0,.5);
	bottom: 8px;
	transition: .4s;
}

.product .sizes div {
	margin: 0 auto;
	padding: 10px 0;
	width: 170px;
	display: flex;
	justify-content: space-between;
}

.product .sizes span {
	font: 12px/28px HelveticaNeueLight;
	color: #fff;
	display: inline-block;
	width: 28px;
	height: 28px;
	border: 1px solid #fff;
}

.product .img:hover .sizes { bottom: 58px;}

.product .title {
	color: #9b9ea8;
	display: block;
	margin: 10px 0;
}

.product .price { color: #000;}

.product .old-price {
	font: 12px/26px HelveticaNeueLight;
	color: #ca2221;
	text-decoration: line-through;
}

.with-sale::before {
	content: "Sale";
	font: 14px/26px HelveticaNeueRoman;
	color: #000;
	display: inline-block;
	padding: 6px 18px;
	border: 1px solid;
    border-image: url(images/sale-border.png) 1;
	position: absolute;
	top: 10px;
	left: 10px;
}

.product img {
	width: 270px;
	height: 400px;
}

.products button {
	width: 268px;
	text-transform: none;
	margin: 0 auto;
}

.novelties,
.sale {
	height: 88.89vh;
	margin: 10px 0 0 0;
}

.novelties { background: url(images/novelties.jpg) no-repeat center / cover;}
.sale { background: url(images/sale.jpg) no-repeat center / cover;}

h2 {
	font: 48px/36px ProximaNovaSemibold;
	text-transform: uppercase;
	letter-spacing: 14px;
}

.novelties h2 {
	margin: 36.11vh 0 0 700px;
	display: inline-block;
}

.sale h2 {
	margin: 36.11vh 0 0 0;
	display: inline-block;
}

.novelties a { margin: 7.41vh 0 0 700px;}
.sale a { margin: 7.41vh 0 0 0;}

.instagram h2,
.trend h2 {
	font: 30px/36px ProximaNovaSemibold;
	margin: 80px 0 30px 0;
	text-align: center;
}

.instagram hr,
.trend hr {
	background-color: #000;
	width: 70px;
	height: 2px;
	margin: 0 auto;
}

.instagram div {
	overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
	margin: 37px 0 0 0;
}

.instagram a {
	display: inline-block;
	width: 294px;
	height: 294px;
	position: relative;
	overflow: hidden;
	user-select: none;
}

.instagram img {
	width: 100%;
}

.instagram a:hover img { filter: brightness(.5);}

.instagram a:hover::before,
.instagram a:hover::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 1;
	top: 50%;
	margin: -10px 0 0 0;
}

.instagram a span {
	position: absolute;
	color: #fff;
	font: 16px/36px ProximaNovaSemibold;
	top: 50%;
	margin: -18px 0 0 0;
	z-index: -1;
}

.instagram a:hover span { z-index: 0;}

.instagram .likes { left: 35%;}
.instagram .commentaries { left: 70%;}

.instagram a:hover::before {
	background: url(images/likes.svg) no-repeat center;
	left: 25%;
}

.instagram a:hover::after {
	background: url(images/commentaries.svg) no-repeat center;
	left: 60%;
}

.trend p {
	font: 16px/24px HelveticaNeueLight;
	text-align: center;
}

.trend form {
	width: 570px;
	height: 140px;
	margin: 0 auto 70px auto;
}

.trend .name {
	width: 50%;
	float: left;
}

.trend .email {
	width: 50%;
	float: right;
}

.trend label {
	font: 11px/24px HelveticaNeueLight;
	color: #afafaf;
	text-transform: uppercase;
}

.trend input:not([type="submit"]) {
	font: 20px/24px HelveticaNeueRoman;
	width: 270px;
	height: 30px;
	border-bottom: 1px solid #000;
	display: block;
}

.trend input[type="submit"] {
	margin: 0 auto;
	position: relative;
	top: 37px;
}

.trend hr:nth-of-type(2) {
    background: #e5e5e5;
    width: 100%;
    height: 1px;
}

.trend p:nth-of-type(1) {
	margin: 15px 0 70px 0;
}

.trend p:nth-of-type(2) {
	font: 16px/24px HelveticaNeueRoman;
	margin: 47px 0 30px 0;
}

.trend .social {
	width: 378px;
	margin-bottom: 59px;
}

.trend .social button {
	width: 58px;
	height: 58px;
}

.subscribe-success {
	width: 400px;
	height: 200px;
	box-shadow: 0px 6px 40px -10px #000;
	border-radius: 15px;
	margin: -100px 0 0 -200px;
	background: #fff url(images/success.png) no-repeat 50% 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	text-align: center;
	font: 22px/60px FuturaNormal;
	transition: .4s;
	display: none;
	opacity: 0;
}

footer {
	height: 195px;
	padding: 60px 0 0 0;
	background: #f8f8f8;
}

footer .wrapper {
	position: relative;
}

footer .wrapper * {
	font: 16px/24px HelveticaNeueRoman;
	color: #393939;
	display: block;
}

footer p:nth-of-type(2) {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

@media (max-width: 1200px) {
	.wrapper {
		width: 940px;
	}

	nav .menu {
		width: 534px;
	    margin: 0 0 0 79px;
	}

	h1 { margin: 22vh 0 0 0;}

	.novelties h2 { margin: 36.11vh 0 0 50%;}
	.novelties a { margin: 7.41vh 0 0 50%;}

	nav input[type="search"] { width: 125px;}

	footer { height: 100px;}
	footer p:first-of-type {
		float: left;
		margin: 0 160px 0 0;
	}
}

@media (min-width: 971px) {
	.only-mobile { display: none;}
}

@media (max-width: 970px) {
	.only-desktop-tablet { display: none;}
	.wrapper { width: 87.5vw;}

	.bttn {
	    width: 71.25vw;
	    height: 15vw;
	    font: 3.75vw/15vw HelveticaNeueRoman;
	}

	header {
	    height: 150vw;
	    padding: 0;
	}

	nav { height: 15.625vw;}

	nav a { font: 4.69vw/8.125vw FuturaNormal;}

	nav .logo {
		width: 21.875vw;
    	height: 6.25vw;
		margin: 4.6vw 0 0 0;
	}

	.drop-menu > a::after {
	    background-image: url(images/triangle-black.svg);
	}

	.drop-menu:hover { background: 0;}
	.drop-menu ul {
		width: 93%;
		background: #fff;
	}

	.drop-menu li a {
		font: 3vw/10vw HelveticaNeueRoman;
		color: #000;
	}

	nav .menu {
		display: block;
		position: absolute;
		margin: 0;
		padding: 0 6.25vw;
		left: 0;
		top: -137.5vw;
		background: #fff;
		width: 100vw;
		z-index: 1;
		transition: .4s;
		box-sizing: border-box;
	}

	nav .menu > li {
		display: block;
		border-bottom: 1px solid #f0f0f0;
		padding: 5vw 3.125vw;
	}

	nav .menu > li > a { color: #000;}

	nav > ul > li:nth-child(n+1):nth-child(-n+7) a { text-transform: uppercase;}

	nav .icons button, nav .cart a {
	    width: 4.06vw;
		height: 4.06vw;
	}
	
	nav .icons {
		width: 29.69vw;
		top: 5vw;
	}

	nav .account button {
		font: 3.75vw/7.5vw HelveticaNeueRoman;
		text-transform: uppercase;
		border: 1px solid #000;
		width: 100%;
		height: 15vw;
	}

	nav .language { text-decoration: none;}

	.language a {
		display: inline-block;
		width: 20.62vw;
		height: 8.44vw;
		text-align: center;
		font: 3.75vw/8.44vw HelveticaNeueRoman;
	}

	.language .active {
		border: 1px solid #000;
	}

	nav input[type="search"] {
		width: 31.25vw;
		height: 7.81vw;
	    border-bottom: 1px solid #aeaeae;
	    color: #000;
	}

	nav .hamburger {
		width: 25px;
		height: 17px;
		background: url(images/hamburger.svg) no-repeat center;
	}

	.sign { width: 100%;}
	.sign .in .with::before, .sign .in .with::after { width: 103px;}
	.sign .up .with::before, .sign .up .with::after { width: 96px;}

	h1 {
	    font: 7.5vw/11.25vw FuturaNormal;
	    margin: 33.5vh 0 0 0;
	}

	.indicators { margin: 6vh auto 0 auto;}

	.novelties, .sale { height: 84.51vh;}

	.novelties {
		background: url(images/novelties-mobile.jpg) no-repeat center / cover;
		position: relative;
	}

	h2 {
	    font: 9.37vw/11.25vw ProximaNovaSemibold;
	    letter-spacing: 7px;
	    width: 100%;
	    text-align: center;
	    position: relative;
	}

	.novelties h2,
	.sale h2 {
		margin: 60vh 0 0 0;
	}

	.novelties a,
	.sale a {
		margin: 5vh auto 0 auto;
		position: relative;
	}

	section.novelties::before,
	section.sale::before {
	    content: "";
	    display: block;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    height: 30vh;
	    background: rgba(249,250,252,.9);
	}

	.sale {
		background: url(images/sale-mobile.jpg) no-repeat center / cover;
		position: relative;
	}

	.instagram h2, .trend h2 {
	    font: 5vw/11.25vw ProximaNovaSemibold;
	    margin: 9.37vw 0 3.125vw 0;
	    letter-spacing: 2px;
	}

	.instagram div {
	    margin: 17px 0 0 0;
	}

	.instagram a {
	    width: 200px;
	    height: 200px;
	}

	.trend p { font: 4.37vw/7.5vw HelveticaNeueLight !important;}
	.trend p:nth-of-type(1) { margin: 4.69vw 0 6.25vw 0;}

	.trend form {
	    width: 87.5vw;
	    height: auto;
	    margin: 0 auto 9.37vw auto;
	}

	.trend .name,
	.trend .email {
	    width: 100%;
	    float: none;
	}

	.trend input:not([type="submit"]) {
		width: 100%;
	}

	.trend input[type="submit"],
	.trend .email {
	    margin: 9.37vw auto 0 auto;
	    position: static;
	}

	.trend p:nth-of-type(2) { margin: 11vw 0 9.37vw 0;}

	.trend .social {
	    width: 78.75vw;
	    margin-bottom: 14.375vw;
	}

	.trend .social button {
	    width: 12.5vw;
	    height: 12.5vw;
	}

	.subscribe-success {
    	width: 87.5vw;
		margin: -100px 0 0 -43.25vw;
    }

	footer {
	    height: 48.44vw;
	    padding: 10.94vw 0 0 0;
	}

	footer .wrapper * {
	    font: 4.375vw/7.5vw HelveticaNeueRoman;
	}

	footer p:first-of-type {
	    float: none;
	    margin: 9.375vw 0;
	}

	footer p:nth-of-type(2) {
	    position: relative;
	    top: -1.56vw;
	    margin: 0;
	}
}